@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --black-color: #2D2D2D;
    --white-color: #FFFFFF;
    --green-color: #009379;
    --red-color: #FF6250;
    --pink-color: #F3AFA8;
    --grey-color: #F3F3F3;
    --yellow-color: #F7D684;
}
*, *::after, *::before {
    box-sizing: border-box;
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Epilogue';
    font-weight: 400; /* Pastikan gaya ini tersedia */
}

.wrapper {
    max-width: 1097px;
    margin: 0 auto;
}

header {
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    border: 1px solid red;
    justify-content: space-between;
    padding: 24px 42px;
    gap: auto;
}

nav .nav-logo {
    font-size: 20px;
    font-weight: 600;
}

nav .nav-link {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .nav-link a {
    text-decoration: none;
    font-size: 17px;
    color: black;
}


.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}



.hero-left {
    display: flex;
    flex-direction: column;
    gap: 48px;
    border: 1px solid red;
    width: 60%;
}
.hero-left .tagline-1 {
   font-family: "Epilogue";
   font-size: 20px ;
   line-height: 30px;
   color: #2D2D2D;
   font-weight: 600;
}
.hero-left .tagline-2 {
   font-family: "Epilogue";
   font-size: 68px ;
   line-height: auto;
   color: #2D2D2D;
   font-weight: 600;
}

#hero .hero-right {
    display: flex;
    border: 1px solid red;
    width: 50%;
}

#hero .hero-right img {
    width: 100%;
}

.btn-hero{
    background-color: #2D2D2D;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 24px 64px;
    gap: 10px;
    display: inline-block;
}

#hero .tagline-1{
    font-size: 20px;
    line-height: 30px;
}
#hero .tagline-2{
    font-size: 68px;
    line-height: 150px;
    font-weight: 600;
}

#hero .description {
    font-size: 17px;
    line-height: 10px;
    gap: 0px;
}

.logo-container {
    display: flex; /* Membuat layout fleksibel */
    justify-content: space-between; /* Spasi antar logo merata */
    align-items: center; /* Rata tengah vertikal */
    padding: 42px 68px; /* Tambahkan padding di sekitar kontainer */
    background-color: white; /* Warna latar belakang */
}

.logo {
    max-width: 100px; /* Batas lebar maksimal setiap logo */
    height: auto; /* Menjaga rasio aspek */
}

.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card   {
    background: white;
    border-radius: 10px;
}
